<p>MENU</p>
<button (click)="user1()"  >
  <p>User1</p>
</button>
<button (click)="user2()"  >
  <p>User2</p>
</button>
<button (click)="user3()"  >
  <p>User3</p>
</button>
<button (click)="user4()"  >
  <p>User4</p>
</button>
<div class="menu">

  <button class="menu-button" (click)="discountCode()"  >
    <p>Add discount code</p>
  </button>

  <button class="menu-button" (click)="inviteFriend()"  >
    <p>Invite Friend</p>
  </button>

  <button class="menu-button" (click)="info()"  >
    <p>Info</p>
  </button>

  <button class="menu-button" (click)="buyAbonament()">
    <a routerLink="/abonamentList"><p>Buy Abonament</p></a>
  </button>

  <button class="menu-button" (click)="makeReservation()">
    <a routerLink="/reservation"><p>reservation</p></a>
  </button>

  <button class="menu-button" (click)="generateMetrics()">
    <p>Generate Metrics</p>
  </button>

</div>

