h2 {
  font-size: 20px;
  color: #634CF3;
  font-family: "SansSerif", sans-serif;
  position: fixed;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, -50%);
  color: mediumvioletred;
}
input {
  position: fixed;
  width: 350px;
  height: 100px;
  background-color: mediumpurple;
  border-radius: 20px;
  text-align: center;
  font-size: 50px;
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, -50%);
}
