<h1 class="text-left view-title">zakupienie</h1>
<h1 class="text-left view-title">abonamentu</h1>
<h3 class="text-center">status zakupu abonamentu</h3>

<body>
<div class="text-center vertical-align">
    <div style="width: 50%">
      <p style="font-size: 4rem; color: purple">Transakcja przeprowadzona pomyślnie</p>
    </div>
</div>



<ul class="list-group">
  <li class="list-group list-unstyled flex-column text-center" >
  </li>
</ul>


</body>

<footer class="text-center" >
  <button (click)="confirm()" type="submit" class="choose btn btn-primary">
    <p>rozumiem</p>
  </button>
</footer>

