<h1 class="text-left view-title">składanie</h1>
<h1 class="text-left view-title">rezerwacji</h1>
<span class="back-btn">
  <p><</p>
</span>
<h3 class="text-center">wybór miejsc</h3>
<div *ngIf="displayMap">
  <h5 class="text-center">Ekran</h5>
  <ul class="list-group">
    <li *ngFor="let seat of miejscaList" class="list-group list-unstyled flex-column text-center" (click)="toggleColor($event)" >
      <button (click)="onSelectSeat(seat.id)">
        <h5>{{seat.rzad}}</h5>
        <h5>{{seat.kolumna}}</h5>
      </button>
    </li>
  </ul>

  <table>
    <tr *ngFor="let row of rows">
      <p>{{row}}</p>
      <td *ngFor="let seat of row">
        <button type="button" (click)="onSelectSeat(seat.id)">
          <p>{{seat.kolumna}}</p>
        </button>
      </td>
    </tr>
  </table>
</div>
<table class="container">
  <div class="list-group row">
    <div class="col-3">
      <h4>{{film.tytul}}</h4>
      <h6>{{film.dlugosc}}</h6>
    </div>
</div>

<div *ngIf="!displayMap">
  <table  class="container table">
    <thead>
    <tr class="row">
      <th >miejsce</th>
      <th >typ biletu</th>
      <th >typ miejsca</th>
      <th >cena</th>
    </tr>
    </thead>
    <tr class="row" *ngFor="let bilet of bilety; let i = index">
      <td>{{bilet.miejsceidmiejsca.rzad}}, {{bilet.miejsceidmiejsca.kolumna}}</td>
      <td>
        <select (change)="setBiletTyp(bilet, $event)" #selectBiletType name="key_{{i}}" [(ngModel)]="bilet.typbiletunazwatypubiletu">
          <option value="normalny">normalny</option>
          <option value="ulgowy">ulgowy</option>
          <option value="grupowy">grupowy</option>
        </select>
      </td>
      <td>
        <select (change)="setMiejsceTyp(bilet)"  #selectMiejsceTyp>
          <option value="standard">standard</option>
          <option value="VIP">VIP</option>
        </select>
      </td>
      <td>{{bilet.cenabiletu}}</td>
    </tr>
  </table>
  <button >Log Selected Options</button>
  <h3 *ngIf="rezerwacja">{{rezerwacja.id}}</h3>
  <h3 *ngIf="sumaRezerwacji">Suma: {{sumaRezerwacji}}</h3>
</div>

<footer class="text-center" >
    <button (click)="confirm()"
            type="submit" class="choose btn btn-primary ">
      <p>zatwiedź</p>
    </button>
</footer>
