<h1 class="text-left view-title">składanie</h1>
<h1 class="text-left view-title">rezerwacji</h1>
<span class="back-btn">
  <p><</p>
</span>
<h3 class="text-center">wybór miejsc</h3>
<div *ngIf="displayMap">
  <h5 class="text-center">Ekran</h5>
  <hr>
  <ul class="list-group" style="flex-basis: 15%">
    <li *ngFor="let seat of miejscaList" class="list-unstyled flex-column text-center"   (click)="toggleColor($event)" >
      <button (click)="onSelectSeat(seat.id)">
        <h5>{{seat.rzad}}</h5>
        <h5>{{seat.kolumna}}</h5>
      </button>
    </li>
  </ul>

  <table>
    <tr *ngFor="let row of rows">
      <p>{{row}}</p>
      <td *ngFor="let seat of row" style="flex-basis: 31%;">
        <button type="button" (click)="onSelectSeat(seat.id)">
          <p>{{seat.kolumna}}</p>
        </button>
      </td>
    </tr>
  </table>
</div>
<table class="container">
  <div class="row">
    <div class="col">
      <img [src]="film.imagePath" style="height: 100px">
    </div>
    <div class="col">
      <h3>{{film.tytul}}</h3>
      <h5>{{film.gatunek}}</h5>
      <h6>{{film.dlugosc}}</h6>
    </div>
</div>
<hr>
<div *ngIf="!displayMap">
  <table  class="container table">
    <thead>
    <tr class="row">
      <th >miejsce</th>
      <th >typ biletu</th>
      <th >typ miejsca</th>
      <th >cena</th>
    </tr>
    </thead>
    <tr class="row" *ngFor="let bilet of bilety; let i = index">
      <td>{{bilet.miejsceidmiejsca.rzad}}, {{bilet.miejsceidmiejsca.kolumna}}</td>
      <td>
        <select (change)="setBiletTyp(bilet, $event)">
          <option value="normalny">normalny</option>
          <option value="ulgowy">ulgowy</option>
          <option value="grupowy">grupowy</option>
        </select>
      </td>
      <td>
        <select (change)="setMiejsceTyp(bilet, $event)">
          <option value="standard">standard</option>
          <option value="VIP">VIP</option>
        </select>
      </td>
      <td>{{bilet.cenabiletu}}</td>
    </tr>
  </table>
  <hr>
  <h3 *ngIf="sumaRezerwacji">Suma rezerwacji: {{sumaRezerwacji}}</h3>
  <h5 *ngIf="rezerwacja">Numer rezerwacji: {{rezerwacja.id}}</h5>
</div>

<footer class="text-center" >
    <button (click)="confirm()"
            type="submit" class="choose btn btn-primary " *ngIf="displayMap">
      <p>zatwiedź</p>
    </button>
  <button (click)="confirmReservation()"
          type="submit" class="choose btn btn-primary " *ngIf="isConfirmed">
    <p>potwierdź</p>
  </button>
</footer>
