<h1 class="text-left view-title" style="padding-left: 1rem">zakupienie</h1>
<h1 class="text-left view-title" style="padding-left: 1rem">abonamentu</h1>
<h3 class="text-center">szczegóły abonamentu</h3>
<body>
<ul class="list-group">
  <li class="list-group list-unstyled flex-column text-center" >
    <button
            type="button" class="list-group-item">
      <p class="name">dupa</p>
      <p class="name">dupa</p>
    </button>
  </li>
</ul>


</body>

<footer class="text-center" >
  <button
          type="submit" class="btn btn-primary choose">
    <p>wybierz</p>
  </button>
</footer>

