<h1 class="text-left view-title">zakupienie</h1>
<h1 class="text-left view-title">abonamentu</h1>
<span (click)="back()" class="back-btn">
  <p><</p>
</span>
<h3 class="text-center">szczegóły abonamentu</h3>

<body>



<ul class="list-group">
  <li class="list-group list-unstyled flex-column text-center" >
      <p>{{selectedType.price}}</p>
      <p>{{selectedType.time}} </p>
      <p>{{selectedType.id}}</p>
  </li>
</ul>


</body>

<footer class="text-center" >
  <button type="submit" class="choose btn btn-primary">
    <p>wybierz</p>
  </button>
</footer>

