<script src="../../app.module.ts"></script><h1 class="text-left view-title">zakupienie</h1>
<h1 class="text-left view-title">abonamentu</h1>
<span (click)="cancel()" class="back-btn">
  <p><</p>
</span>
<h3 class="text-center">wybierz plan czasowy</h3>
<body class="container">
  <ul class="list-group">
    <li *ngFor="let typ of typyAbonamentu" class="list-unstyled flex-column text-center" >
      <button [class.selected]="typ === selectedType"
        type="button" class="list-group-item" style="color: white"
      (click)="onSelect(typ)">
        <div class="col">
          <h3>{{typ.tytul}}</h3>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <h4>Płatność realizowana co {{typ.tytul}}.</h4>
          </div>
          <div class="col-xs-3">
            <h4>{{typ.cena}} zł</h4>
          </div>
        </div>

      </button>
    </li>
  </ul>

</body>



<footer class="text-center" >
  <div class="col-xs-12">
    <button (click)="navigateToDetails()"
            type="submit" class="btn btn-primary ">
      <p style="font-size: 20px">wybierz</p>
    </button>
  </div>
</footer>

