<h1 class="text-left view-title">wybór</h1>
<h1 class="text-left view-title">seansu</h1>
<span class="back-btn">
  <p><</p>
</span>
<h3 class="text-center">repertuar</h3>
<body>
<ul class="list-group">
  <li *ngFor="let film of films" class="list-group list-unstyled flex-column text-center" >
    <button type="button" class="list-group-item row" (click)="onSelect(film.id)">
      <div class="col-xs-3">
        <img [src]="film.imagePath" style="height: 100px">
      </div>
      <div class="col-xs-6">
        <p class="name">{{film.tytul}}</p>
        <p class="name">{{film.gatunek}}</p>
        <p class="name">{{film.dlugosc}}</p>
      </div>
    </button>
  </li>

</ul>

<!--<div *ngIf="selectedType">-->
<!--  <p> selected: {{selectedType.cena}} </p>-->
<!--  <div>id: {{selectedType.id}}</div>-->
<!--</div>-->

</body>

<footer class="text-center" >
<!--  <button (click)="navigateToDetails()"-->
<!--          type="submit" class="choose btn btn-primary ">-->
<!--    <p>wybierz</p>-->
<!--  </button>-->
</footer>

