<h1 class="text-left view-title">wybór</h1>
<h1 class="text-left view-title">seansu</h1>
<span (click)="cancel()" class="back-btn">
  <h4><</h4>
</span>
<h3 class="text-center">repertuar</h3>
<body>
<div class="container">
  <ul class="list-group">
    <li *ngFor="let film of films" class="list-group list-unstyled flex-column text-center" >
      <button type="button" class="list-group-item" (click)="onSelect(film.id)" style="border-radius: 20px; background-color: #634CF3; color: white">
        <div class="col-xs-3">
          <img [src]="film.imagePath" style="height: 150px; border-radius: 10px">
        </div>
        <div class="col-xs-6 col-xs-offset-2">
          <h3>{{film.tytul}}</h3>
          <h5>{{film.gatunek}}</h5>
          <h6>{{film.dlugosc}} minut</h6>
        </div>
      </button>
    </li>

  </ul>
</div>


<!--<div *ngIf="selectedType">-->
<!--  <p> selected: {{selectedType.cena}} </p>-->
<!--  <div>id: {{selectedType.id}}</div>-->
<!--</div>-->

</body>

<footer class="text-center" >
<!--  <button (click)="navigateToDetails()"-->
<!--          type="submit" class="choose btn btn-primary ">-->
<!--    <p>wybierz</p>-->
<!--  </button>-->
</footer>

